name: My first Github Action
on: [push]
jobs:
    build-app:
       runs-on: ubuntu-latest
       steps:
          - uses: actions/checkout@v2
          - uses: actions/setup-node@v2
            with:
               node-version: '14.17.0'
          - name: Installing node modules
            run: yarn 
          - name: Build the project
            run: yarn build
          - name: Deploying the project
            env:
              VERCEL_ORG_ID: Of3lszLZYc7KYBqeN8djmfqS
              VERCEL_PROJECT_ID:prj_IZ2WnAqPo2I18yVBz4c9QUSRpKYm
            run: yarn deploy
          - name: Setup finished
            run: echo "Hurray!! it's fucking working"
   